<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Cidades</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.7/css/dataTables.dataTables.css" />
</head>

<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid" style="background-color: rgb(57, 205, 54);">
        <a class="navbar-brand text-white" href="#">Winners</a>
    </div>
</nav>

<div class="container mt-4">

    <table class="table" id="tabela">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CEP</th>
                <th>Estado</th>
                <th>Ação</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="cidade : ${listaCidades}">
                <td th:text="${cidade.id}"></td>
                <td th:text="${cidade.nome}"></td>
                <td th:text="${cidade.cep}"></td>
                <td th:text="${cidade.estado.nome}"></td>
                <td>
                    <a th:href="@{/editarCidade/{id}(id=${cidade.id})}">
                        <i class="fa-solid fa-pen-to-square text-success"></i>
                    </a>
                    |
                    <a th:href="@{/removerCidade/{id}(id=${cidade.id})}">
                        <i class="fa-solid fa-trash text-danger"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-danger" href="/administrativo">Voltar</a>
    <a class="btn btn-primary" href="/cadastroCidade">Cadastrar</a>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
<script src="https://cdn.datatables.net/2.3.7/js/dataTables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function () {
        $('#tabela').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/2.3.7/i18n/pt-BR.json'
            }
        });
    });
</script>

</body>
</html>
