<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
  </head>
  <body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid" style="color: white; background-color: rgb(57, 205, 54); margin-top: -8px; padding-top: 5px; padding-bottom: 5px;">
    <img src="https://png.pngtree.com/png-vector/20220113/ourmid/pngtree-design-concept-of-a-winged-letter-w-logo-vector-png-image_34978768.png" alt="Bootstrap" width="30" height="24">
    <a class="navbar-brand" href="#" style="color: #fff;">Winners</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="container-fluid">

  <div class="row">
    
    <div class="col-md-3" style="margin-top: 10px;">
      <ul class="list-group">

        <li class="list-group-item" style="color: white; background-color: rgb(57, 205, 54);">
          <i class="fa-solid fa-bars"></i> Funcionalidades
        </li>

        <a href="/cadastroVenda" style="text-decoration: none;">
          <li class="list-group-item" style="color: rgb(57, 205, 54);">Efetuar Venda</li>
        </a>

        <a href="/listarVendas" style="text-decoration: none;">
          <li class="list-group-item" style="color: rgb(57, 205, 54);">Listar Vendas</li>
        </a>

        <a href="/cadastroEntrada" style="text-decoration: none;">
          <li class="list-group-item" style="color: rgb(57, 205, 54);">Efetuar Entrada de Produto</li>
        </a>

        <a href="/listarEntradas" style="text-decoration: none;">
          <li class="list-group-item" style="color: rgb(57, 205, 54);">Listar Entradas de Produtos</li>
        </a>

        <li class="list-group-item" style="color: white; background-color: rgb(57, 205, 54);">
          <i class="fa-solid fa-bars"></i>Cadastros
        </li>

        <a href="/cadastroEstado" style="text-decoration: none;">
          <li class="list-group-item" style="color: rgb(57, 205, 54);">Cadastro Estado</li>
        </a>

        <a href="/cadastroCidade" style="text-decoration: none;">
          <li class="list-group-item" style="color: rgb(57, 205, 54);">Cadastro Cidade</li>
        </a>

        <a href="/cadastroFuncionario" style="text-decoration: none;">
          <li class="list-group-item" style="color: rgb(57, 205, 54);">Cadastro Funcionario</li>
        </a>

        <a href="/cadastroCliente" style="text-decoration: none;">
          <li class="list-group-item" style="color: rgb(57, 205, 54);">Cadastro Cliente</li>
        </a>

        <a href="/cadastroFornecedor" style="text-decoration: none;">
          <li class="list-group-item" style="color: rgb(57, 205, 54);">Cadastro Fornecedor</li>
        </a>

        <a href="/cadastroProduto" style="text-decoration: none;">
          <li class="list-group-item" style="color: rgb(57, 205, 54);">Cadastro Produto</li>
        </a>

        <li class="list-group-item" style="color: white; background-color: rgb(57, 205, 54);">
          <i class="fa-solid fa-bars"></i>Listas
        </li>

        <a href="/listarEstado" style="text-decoration: none;">
          <li class="list-group-item" style="color: rgb(57, 205, 54);">Listar Estado</li>
        </a>

        <a href="/listarCidade" style="text-decoration: none;">
          <li class="list-group-item" style="color: rgb(57, 205, 54);">Listar Cidade</li>
        </a>

        <a href="/listarfuncionario" style="text-decoration: none;">
          <li class="list-group-item" style="color: rgb(57, 205, 54);">Listar Funcionario</li>
        </a>

        <a href="/listarCliente" style="text-decoration: none;">
          <li class="list-group-item" style="color: rgb(57, 205, 54);">Listar Cliente</li>
        </a>

        <!-- CORRIGIDO -->
        <a href="/listarFornecedor" style="text-decoration: none;">
          <li class="list-group-item" style="color: rgb(57, 205, 54);">Listar Fornecedor</li>
        </a>

        <a href="/listarProduto" style="text-decoration: none;">
          <li class="list-group-item" style="color: rgb(57, 205, 54);">Listar Produto</li>
        </a>

      </ul>
    </div>

    <div class="col-md-9">
      <h1>Bem Vindo Ao Sistema da Winners</h1>
      <p>Sistema de vendas simplificado e intuitivo!</p>
      <p>@Desenvolvido em 2026, por: Gabriel Esteves</p>
    </div>

  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
