<!DOCTYPE html>
<html
xmlns:th="https://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"></link>
  </head>
  <body>

<nav class="navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid" style="color: white; background-color: rgb(57, 205, 54); margin-top: -8px; padding-top: 5px; padding-bottom: 5px;">
    <img src="https://png.pngtree.com/png-vector/20220113/ourmid/pngtree-design-concept-of-a-winged-letter-w-logo-vector-png-image_34978768.png" alt="Bootstrap" width="30" height="24">
    <a class="navbar-brand" href="#">Winners</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>  
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
      </form>
    </div>
  </div>
</nav>

    <div class="container">
   <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="estado : ${listaEstados}">
            <td th:text="${estado.id}"></td>
            <td th:text="${estado.nome}"></td>
            <td th:text="${estado.sigla}"></td>
            <td>
                <a th:href="@{/editarEstado/{id}(id=${estado.id})}"><i class="fa-solid fa-pen-to-square" style="color: rgb(99, 230, 190);"></i></a>
                |
                <a th:href="@{/removerEstado/{id}(id=${estado.id})}"><i class="fa-solid fa-trash" style="color: rgb(234, 85, 85);"></i></a>
            </td>
        </tr>
    </tbody>

</table>
     <a class="btn btn-danger" href="/administrativo"> Voltar</a>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>